$def with (movie)
<image src="$(movie.images)"></image>
<!--暂时用自动从链接获取图片,此处注释的是从本地获取图片
    <image src="/static/poster/$(movie.images).jpg"></image>-->

<h1>$movie.title</h1>
<p>Original_Title:$movie.original</p>
<p>Average Rating:$movie.rating</p>
<p>Genres:$movie.genres</p>
<p>Year:$movie.year</p>
<p>Directors:
    $ directors = (movie.directors).split(',')
    $for d in directors:
        <a href="/director/$d"> $d</a>
</p>
<p>Casts:
$ casts = (movie.casts).split(',')
$for cast in casts:
    <a href="/cast/$cast"> $cast</a>
</p>
<p>alt:<a href="$movie.alt">$movie.alt</a></p>
<p>subtype：$movie.subtype</p>
<p><a href="/">返回首页</a></p>

$var title:movie_description
<!-- 此处的变量html会认为是global变量
    $casts=$(movie.casts).split(',')
-->